.root {
    -fx-background-color: #f0f0f0;

}

.text-field {
    -fx-font-size: 24px;
    -fx-text-fill: #333;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
}

.button {
    -fx-font-size: 18px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: #fff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #3e8e41;
}

.button-operator {
    -fx-background-color: #f39c12;
}

.button-operator:hover {
    -fx-background-color: #e67e22;
}

.button-operator:pressed {
    -fx-background-color: #d35400;
}

.button-clear {
    -fx-background-color: #e74c3c;
}

.button-clear:hover {
    -fx-background-color: #c0392b;
}

.button-clear:pressed {
    -fx-background-color: #a93226;
}